.home-container{
    margin-top: 15vh;
    z-index: 999;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .home-container.animate {
    opacity: 1;
  }
  
  .home--headline{
    z-index: 999;
    font-weight: 400;
  }
  