.selected-projects--individual{
    display: flex;
  }
  
  .selected-projects--text-section{
    margin-left: 5%;
    color:#213547;
  }
  
  .selected-projects--image{
    width: 35vw;
    border-radius: 2%;
  }
  